@model Frontdesk6.Models.Frontdesk.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomorApp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomorApp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tanggal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tanggal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deskripsi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deskripsi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tujuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tujuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaLayanan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaLayanan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusFrontdesk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusFrontdesk)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AppointmentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
